<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} : Opentrackings </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="en-us" />
        <meta name="keywords" content="{% block additional_meta_keywords %}{% endblock %}{% block meta_keywords %}shipping, tracking, ups, fedex, dhl, usps{% endblock %}" />
        <meta name="robots" content="index,follow" />

        <link rel="icon" type="image/gif" href="" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/openid.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/uni-form-generic.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/uni-form.css" />

        {% if request.is_secure %}
            <meta http-equiv="X-XRDS-Location" content="https://{{ request.get_host }}{% url oid_xrdf %}" />
        {% else %}
            <meta http-equiv="X-XRDS-Location" content="http://{{ request.get_host }}{% url oid_xrdf %}" />  
        {% endif %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/uni-form.jquery.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <center>
            {% include "header.html" %}
            {% include "menu.html" %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            {% include "footer.html" %}
        </center>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
