{% extends "base.html" %}

{% block title %}View Shipments{% endblock %}

{% block content %}
    {% for shipment in shipments %}
        <h2>{{ shipment.tracking_number }}</h2>
    
        <h3>Packages:</h3>    
        {% for package in shipment.packages.all %}
            <h4>{{ package.tracking_number }}</h4>
            <h3>Activities:</h3>
            {% with package.activities.latest as activity %}
                <div class="posted">Activity recorded on: <span>{{ activity.time|date:"g:i A, j N Y" }}</span></div>
                <p><strong>Status: </strong>{{ activity.status_description|lower|capfirst|default:"N/A" }}</p>
                <p><strong>City: </strong>{{ activity.address.city|lower|capfirst|default:"N/A" }}</p>
                <p><strong>State/Province: </strong>{{ activity.address.state_province|default:"N/A" }}</p>
                <p><strong>Zip Code: </strong>{{ activity.address.zipcode|default:"N/A" }}</p>
                <p><strong>Country: </strong>{{ activity.address.country }}</p>
            {% endwith %}
        {% endfor %}
    {% endfor %}
{% endblock %}